<% content_for(:title, "Edit Artist | Concert Collector") %>

<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <%= render('layouts/alerts') %>
      <%= render("layouts/errors", :object => @artist) %>

      <h3>Update <%= @artist.name %></h3>
      <br>
      <%= form_for(@artist) do |f| %>
        <div class="form-group">
          <%= f.label "Name: " %>
          <%= f.text_field :name %>
        </div>
        <%= f.submit(:class => "btn btn-primary") %>
      <% end %>
    </div>
  </div>
</div>
