<% content_for(:title, "Edit Artist | Concert Cal") %>

<%= render('layouts/alerts') %>
<%= render("layouts/errors", :object => @artist) %>

<h3>Update <%= @artist.name %></h3>
<br>
<%= form_for(@artist) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <%= f.submit(:class => "btn btn-primary") %>
<% end %>
