<% content_for(:title, "Add Show | Concert Cal") %>

<div class="container">
  <%= render("layouts/errors", :object => @show) %>

  <h3>Add a Show for <%= @artist.name %></h3><br>

  <%= form_for [@artist, @show] do |f| %>
    <div class="form-group">
      <%= f.label "Date: " %>
      <%= f.date_field :date %>
    </div>
    <div class="form-group">
      <%= f.label "Location: " %>
      <%= f.text_field :location, placeholder: "City, State" %>
    </div>
    <%= f.submit(:class => "btn btn-primary") %>
  <% end %>
</div>
