<% content_for(:title, "Add Show | Concert Cal") %>

<%= render("layouts/errors", :object => @show) %>

<h3>Add a Show for <%= @artist.name %></h3><br>

<%= form_for [@artist, @show] do |f| %>
  <div class="form-group">
    <%= f.label "Date: " %>
    <%= f.date_field :date %>
  </div>
  <div class="form-group">
    <%= f.label "Location: " %>
    <%= f.text_field :location, placeholder: "City, State" %>
  </div>
  <%= f.submit(:class => "btn btn-primary") %>
<% end %>

<!-- <form action='/artists/<%= @artist.id %>/shows' method='post'> -->

  <!-- <br> <label for='show_date'>Date:</label>
  <input id='show_date' name='show[date]' type="date"><br>
  <br><label for='show_location'>Location:</label>
  <input id='show_location' name='show[location]' type="text"><br>
  <input name='show[artist_id]' type='hidden' value="<%= @artist.id %>">
  <br><button>Submit</button>
</form>
 -->
